<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddition" />
                <binding name="BasicHttpBinding_ISubtraction" />
                <binding name="BasicHttpBinding_IMultiplication" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Addition/Addition.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddition" contract="AdditionService.IAddition"
                name="BasicHttpBinding_IAddition" />
            <endpoint address="http://localhost/Subtraction/Subtraction.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubtraction"
                contract="SubtractionService.ISubtraction" name="BasicHttpBinding_ISubtraction" />
            <endpoint address="http://localhost/Multiplication/Multiplication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultiplication"
                contract="Multiplication.IMultiplication" name="BasicHttpBinding_IMultiplication" />
        </client>
    </system.serviceModel>
</configuration>